<h1>Letters and numbers</h1>

<p><%= " Welcome to the longest word-game!" %></p>
<h2><%=  "Here is your grid :" %></h2>
<%  @grid.each do |letter| %>
<%=  letter + " - " %>
<% end  %>
<p><%=  "___________________________________________________" %></p>

<p><%=  "What's your best shot ?" %></p>

<form action="/score">
	<label for="question">your attempt</label>
	<input type="text" id="question" name="attempt" placeholder="english word">
	<input type="hidden" name="grid" value="<%=@grid%>">
	<input type="hidden" name="start_time" value="<%=@start_time%>">
	<input type="submit" value="Go on!">
</form>

